html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
        
body {
  font-family: sans-serif;
  overflow-x: hidden; 
}

/*
  NAvigation styles
  =====================================================
*/
nav {
  width:100%;
  height: 40px;
  background-color: #5092bd;
}

.active {
  background-color: #42799b;
}

.btn {
  font-family: sans-serif;
  color: #fff;
  width: 50px;
  text-align: center;
  font-size: 14px;
  height: 27px;
  border-right: 1px solid #4b89b2;
  line-height: 14px;
  padding-top:13px;
  cursor: pointer;
}
.tbtn {
  font-family: sans-serif;
  color: #fff;
  width: 50px;
  text-align: center;
  font-size: 14px;
  height: 27px;
  border-right: 1px solid #4b89b2;
  line-height: 14px;
  padding-top:13px;
  cursor: pointer;
}
.on {
  background-color: #42799b !important;
}


/*
  info status on nav bar
*/
.info {
  color: #fff;
  width: 50px;
  text-align: center;
  font-size: 14px;
  height: 27px;
  line-height: 14px;
  padding-top:13px;
}
.ok {
  background-color: #8cc42b;
}
.error {
  background-color: #e8322c;
}


/*
  View styles
  =====================================================
*/

.wrapper {
  padding: 10px;
}

/*
  Overlay styles
  =====================================================
*/
.overlay {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: #FFF;
  z-index: 1000;
}
.overlaynav {
  width:100%;
  height: 40px;
  background-color: #f6f6f6;
}
.obtn {
  font-family: sans-serif;
  background-color: #dbdbdb;
  width: 50px;
  text-align: center;
  font-size: 14px;
  height: 27px;
  line-height: 14px;
  padding-top:13px;
  cursor: pointer;
}
.overlayheadline {
  display: block;
  font-family: sans-serif;
  color: #42799b;
  font-size: 21px;
  height: 7px;
  line-height: 21px;
  padding: 12px 10px 0px 10px;
}


/*
  Tools
  =====================================================
*/

.fr {
  float: right;
}
.fl {
  float: left;
}