<!DOCTYPE html>
<html>
  <head>
    <title>{{tag}} - geo.chr.io</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  </head>
  <body>
    <nav>
      <div id="bMap" data-view="map" class="btn active fl"><i class="icon-globe icon-white"></i></div>
      <div id="bMyPos" data-view="map" class="tbtn on fl"><i class="icon-map-marker icon-white"></i></div>
      <div id="bList" data-view="list" class="btn fl"><i class="icon-user icon-white"></i></div>
      <div id="bSet" data-view="settings" class="btn fl"><i class="icon-wrench icon-white"></i></div>
      <div id="connection" class="info fr error"><i id="statusb" class="icon-ban-circle icon-white"></i></div>
    </nav>

    <div id="mapOverlay" class="overlay" style="display:none;">
        <div class="overlaynav">
          <h1 class="fl overlayheadline" id="mapOverlayHeadline"></h1>
          <div class="obtn fr overlay-close"><i class="icon-remove icon"></i></div>
        </div>
        <div id="overlayContent" class="wrapper"> 
        </div>
    </div>
    <div id="map" class="view"></div>

    <div id="list" class="view" style="display:none;">
      <div class="wrapper">
        
      </div>
    </div>

    <div id="settings" class="view" style="display:none;">
      <div class="wrapper">
        Status: <span id="status">Disconnected</span><br><br>
        Name: <br>
        <input type="text" id="name">
        <input type="hidden" id="tag" value="{{tag}}">
      </div>
    </div>


  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/assets/js/google.marker.cluster.js"></script>
  <script type="text/javascript" src="/assets/js/map.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/js/flow.js"></script>
</html>